.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 90%;
  max-width: 800px;
  min-height: 72px;
  background-color: $lightPrimary;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  @include breakpoint(md) {
    width: 80%;
  }

  &__content {
    position: relative;
    width: 100%;
    display: block;
  }
}
