.Header {
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 72px;
  padding-left: 20px;
  background-color: #38d;
}
