.Sidebar {
  position: absolute;
  top: 0;
  left: -260px;
  z-index: 2;
  min-height: 100%;
  overflow-x: hidden;
  width: 260px;
  height: 100%;
  padding-top: $headerHeight;
  transition: all 0.4s ease-in;
  background: $lightPrimary;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.05);

  &--open {
    left: 0;
    transition: all 0.4s ease-out;
  }

  .Title {
    margin-top: 3rem;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
  }

  hr {
    border-top: 1px solid $darkSecondary;
    margin-left: 32px;
    margin-right: 32px;
  }
}
