.Sidebar {
  flex-shrink: 0;
  overflow-x: hidden;
  width: 0;
  padding-top: $headerHeight;
  transition: width 0.4s ease-in;
  background: $lightPrimary;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.05);
  &--open {
    width: 260px;
    transition: width 0.4s ease-out;
  }

  .Title {
    margin-top: 3rem;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
  }

  hr {
    border-top: 1px solid $darkSecondary;
    margin-left: 32px;
    margin-right: 32px;
  }
}
