// Import fonts
@import 'fonts';
@import 'variables';
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: $lightSecondary;
}

#root {
  display: flex;
  flex-direction: row;
}

ul,
li {
  margin: 0;
  padding: 0;
}

@import 'components/Content';
@import 'components/Sidebar';
@import 'components/Header';
@import 'components/Card';
@import 'components/Menu';
@import 'components/ProjectList';
@import 'components/Title';
@import 'components/Button';
@import 'components/Icon';
@import 'components/Display';
