// Import fonts
@import 'fonts';
@import 'variables';
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: $lightSecondary;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: row;
}

ul,
li {
  margin: 0;
  padding: 0;
}

input {
  transition: all 0.5s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $darkSecondary !important;
  opacity: 1; /* Firefox */
}

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 32px;
}

.mini {
  color: $primaryColor;
  font-size: $small;
  text-transform: uppercase;
  text-align: center;
}

@import 'components/Content';
@import 'components/Sidebar';
@import 'components/Header';
@import 'components/Card';
@import 'components/Menu';
@import 'components/ProjectList';
@import 'components/Title';
@import 'components/Button';
@import 'components/Icon';
@import 'components/Display';
@import 'components/TaskItem';
@import 'components/Input';
@import 'components/LinearLoader';
@import 'components/TaskContent';
